<!DOCTYPE html>
<html lang="en">
<head>
    <title>Settings</title>
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../lib/jquery-3.3.1.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script src="../js/settings.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>
        $(function () {
            $("#navbar").load("../handlebars/navbar");
        });
    </script>
</head>
<body>
<div id="navbar"></div>

<br/>
<div class="container">
    <div class="jumbotron">
        <h3>Settings</h3>
        <div class="alert alert-warning d-none" id="alert">
            <strong>Warning!</strong>
            <div id="alert-text"></div>
        </div>
        <form class="needs-validation" id="main-form" onsubmit="return false" novalidate>
            <div class="mb-3">
                <img src="{{image}}" alt="..." class="img-thumbnail" height="100" width="100" id="profile-pic">
                <div class="form-group mt-1">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input needs-custom-validation custom-validated"
                               accept="image/gif, image/jpeg, image/png" id="profile-pic-input">
                        <label class="custom-file-label" id="profile-pic-label" for="profile-pic-input">Choose New
                            Profile Picture</label>
                        <div class="invalid-feedback" id="image-feedback"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                {{#each fields}}
                    <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                        <label for={{id}}>{{label}}</label>
                        <input type="text" class="form-control {{#if validation}}needs-custom-validation{{/if}}"
                               id="{{id}}"
                               value="{{value}}" {{attributes}} required>
                        {{#if validation}}
                            <div id="{{id}}-feedback"></div>
                        {{/if}}
                    </div>
                {{/each}}
            </div>
            {{#if local}}
                <div class="mb-3">
                    <button class="btn btn-info" type="button" id="change-password">Change Password</button>
                </div>
            {{/if}}
            <button class="btn btn-primary" type="submit" id="submit-button">Save Changes</button>
            <button class="btn btn-danger" onClick="window.location.reload()">Cancel Changes</button>
        </form>
    </div>
</div>
</body>
</html>
